@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.dropdown-style {
    background-color: #FF6060;
    width: 100%;
    height: 52px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    align-items: center;
    position: relative;
    margin-top: 31px;


}

.dropdown-title {
    color: #FFF;
    margin-left: 20px;
    font-size: 18px;
}


.angledown-style {
    width: 15.56px;
    height: 26.4px;
    position: absolute;
    top: 15px;
    right: 17.79px;
}

.dropdown-style.long {
    width: 82.74%;
    max-width: 1026px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

}




.dropdown-content {
    width: 82.74%;
    max-width: 1026px;
    min-height: 146px;
    background-color: #F7F7F7;
    border-radius: 10px;
    position: relative;
    top: -10px;
    z-index: -1;
    padding-top: 40px;
    color: #FF6060;
    font-size: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
}

.dropdown-content.small {
    width: 100%;
    max-width: 582px;
    min-height: 200px;
    height: auto;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;

}

.dropdown-content.small ul {
    margin: 0px;
    padding-left: 20px;
}


.dropdown-style.open img {
    transform: rotate(180deg);
}

@media only screen and (max-device-width : 768px) {

    .dropdown-style.long {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        font-size: 13px;
        margin-top: 20px;
    }

    .angledown-style {
        width: 8.98px;
        height: 15.2px;
        position: absolute;
        top: 25%;
        right: 11px;
    }

    .dropdown-content {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 17.11px;
        padding-top: 20px;
    }

    .dropdown-style {
        height: 29.93px;
        width: 90%;
    }

    .dropdown-style.small {
        width: 100%;
        max-width: 100%;
        margin-top: 0px;
    }

    .dropdown-content.small {
        width: 100%;
        max-width: 100%;
        font-size: 12px;
        margin-top: -20px;
        min-height: 143.32px;
    }

    .dropdown-title {
        font-size: 13px;
    }



}