@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.tag-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    line-height: 0.8;
}

.tag-container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-device-width : 768px) {

    .tag-style {
        width: 84px;
        height: 18px;
        font-size: 10px;
        font-weight: 500;
        line-height: 8px;
        margin-top: 10px;
    }

    .tag-container {
        flex-wrap: wrap;
    }
}