@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.productPage-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.infos-box {
    display: flex;
    flex-wrap: wrap;
    width: 86.11%;
    max-width: 1240px;
}

.infos-box-left {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infos-box-right {
    width: 20%;

}

.dropdown-container {
    width: 86.6%;
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    justify-content: space-around;

}