@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.productPage-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.infos-box {
    display: flex;
    flex-wrap: wrap;
    width: 86.11%;
    max-width: 1240px;
    margin-bottom: -31px;
}

.infos-box-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infos-box-right {
    width: 30%;
    display: flex;
    flex-direction: column;

}

.dropdown-container {
    width: 86.6%;
    max-width: 1240px;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    column-gap: 2.5%;
    margin-bottom: 10px;
}

.dropdown-left {
    width: 50%;
    max-width: 582px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.dropdown-right {
    width: 50%;
    max-width: 582px;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.style-type {
    list-style-type: none;
}

.dropdown-description {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}



@media only screen and (max-device-width : 768px) {

    .dropdown-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .dropdown-left {
        width: 90%;
        max-width: 90%;
    }

    .dropdown-right {
        width: 90%;
        max-width: 90%;
        margin-top: 20px;
        margin-bottom: 65px;
    }

    .infos-box {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .infos-box-right {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        align-items: center;
        margin-top: 17.84px;
        margin-bottom: 17px;
    }

    .infos-box-left {
        width: 90%;
    }
}

@media (min-device-width : 768px) and (max-device-width : 1023px) {
    .dropdown-container {
        margin-bottom: 256px;
    }
}