@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
    width: 86.11%;
    max-width: 1240px;
    height: 68px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.header-style {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.logo-original {
    width: 201.32px;
    height: 68px;
    text-align: left;

}

.nav-box {
    width: 309px;
    height: 34px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.link-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    list-style-type: none;
    justify-content: space-between;
}


.btn-nav a {
    text-decoration: none;
    color: #FF6060;
}

a.activeLink {
    text-decoration: underline;
}





@media only screen and (max-device-width : 768px) {
    .logo-original {
        width: 145px;
        height: 47px;
        text-align: left;

    }

    .header {
        width: 90%;
        margin-top: 20px;
    }

    .nav-box {
        text-transform: uppercase;
    }

    .li.btn-nav a {
        font-size: 12px;
    }

    li.btn-underline a {
        font-size: 12px;
    }

    .link-list {
        font-size: 12px;
        margin-block-end: 0px;
        margin-block-end: 0px;
        align-items: center;
    }

}