@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.gallery-style {

    margin-bottom: 50px;
    width: 86.11%;
    max-width: 1240px;
    display: flex;
    justify-content: center;

}

.gallery-box {
    max-width: 1240px;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 4.5% 4% 4% 4%;
    column-gap: 5.2%;
    row-gap: 50px;
    justify-content: left;

}

@media all and (min-width: 980px) and (max-width: 1280px) {
    .gallery-box {
        column-gap: 6.5%;
    }
}

@media all and (min-width: 768px) and (max-width: 980px) {
    .gallery-box {
        padding-left: 6%;
        padding-right: 6%;
        column-gap: 10%;
    }

}

@media only screen and (max-device-width : 768px) {

    .gallery-style {
        width: 90%;
    }

    .gallery-box {
        width: 100%;
        background-color: transparent;
        padding: 0;
        row-gap: 20px;
    }


}