@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.thumb-style {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    position: relative;


}

.thumb-link {
    width: 29.805%;
    height: 47.755vh;
    max-width: 340px;
    max-height: 340px;
}

.title-box {
    width: 65%;
    height: 52px;
    position: absolute;
    Top: 268px;
    Left: 20px;
    display: flex;
    justify-content: left;
    text-align: left;
    z-index: 5;

}

.thumb-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumb-style:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}


@media only screen and (min-width: 980px) and (max-width: 1280px) {
    .thumb-style {
        width: 100%;
        height: 280px;
    }

    .thumb-link {
        width: 29%;
        height: 280px;
    }

    .title-box {
        top: 205px;
        width: 85%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
    .thumb-style {
        width: 100%;
        height: 280px;
    }

    .thumb-link {
        width: 45%;
        height: 280px;
    }

    .title-box {
        top: 190px;
        width: 70%;
    }
}

@media only screen and (max-device-width : 768px) {

    .thumb-style {
        width: 100%;
        height: 255px;
        max-width: 100%;
    }

    .thumb-link {
        width: 100%;
        max-width: 100%;
        height: 255px;

    }

    .title-box {

        top: 180px;
    }


}

@media only screen and (max-device-width : 374px) {
    .title-box {
        width: 85%;
    }
}